body{
    height: 100vh;
    width: 100vw;
    background-color: #333;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("indexCover.png");
    background-size: contain;
    backdrop-filter: brightness(40%);
}

h1{
    max-width: 100%;
    font-size: 10vh;
    color: #FFF;
    margin-bottom: 0;
    text-align: center;
}

.emoji_holder{
    font-size: 10vh;
    margin: 0;
}



